<ul>
    <!-- heading -->
    <li class="relative flex justify-between items-center border-b py-2">
        <span class="flex-1 overflow-hidden font-semibold">Project</span>
        <span class="flex-1 overflow-hidden font-semibold">Category</span>
        <span class="flex-1 overflow-hidden font-semibold">Finished</span>
        <div style="width: 42px;"></div>
    </li>
    {% for project in projects %}
    <!-- start list item -->
    <li class="flex justify-between items-center border-b py-2">
        <!-- project name -->
        <span class="flex-1 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ project.name }}</span>
        <!-- project category -->
        <span class="flex-1 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ project.category }}</span>
        <!-- project completion date -->
        <span class="flex-1 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ project.completion_date
            }}</span>
        <!-- edit button -->
        <a href="/{{ project.id }}"
            class="bg-blue-500 text-white px-2 py-1 mr-1 ml-1 rounded hover:bg-blue-700">
            <i class="fa fa-edit"></i>
        </a>
    </li>
    {% endfor %}
</ul>
