<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="/css/output.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tracker</title>
</head>

<body class="m-4">
    <h1 class="text-3xl font-bold underline mb-4">Project Tracker</h1>
    <div class="flex flex-col md:flex-row">

        <!-- Left Side -->
        <div class="w-full md:w-1/2 mr-0 md:mr-2">
            {% set category_name = left_category %}
            {% include "list.html" %}
        </div>

        <!-- Divider -->
        <div class="hidden md:block border-r-2 border-gray-200" style="width: 1px;"></div>

        <!-- Right Side -->
        <div class="w-full md:w-1/2 mt-4 md:mt-0 ml-0 md:ml-2">
            {% set category_name = right_category %}
            {% include "list.html" %}
        </div>

    </div>
</body>

</html>
