<h2 class="text-lg font-semibold mb-2">{{ category_name }}</h2>
<ul>
    {% for project in projects %}
    {% if project.category == category_name %}
    <!-- start list item -->
    <li class="relative flex justify-between items-center border-b py-2">

        <!-- project name -->
        <span class="flex-1 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ project.name }}</span>

        <!-- start button -->
        {% if project.status == 0 %}
        <form action="/start" method="POST">
            <input type="hidden" name="id" value="{{ project.id }}" />
            <input type="hidden" name="category" value="{{ project.category }}" />
            <input type="hidden" name="position" value="{{ project.position }}" />
            <button type="submit" class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-700">
                <i class="fa fa-play"></i>
            </button>
        </form>
        {% endif %}

        <!-- start up/down button container -->
        <div class="flex flex-col mr-1 ml-1 items-center">
            <form action="/up" method="POST">
                <input type="hidden" name="id" value="{{ project.id }}" />
                <input type="hidden" name="category" value="{{ project.category }}" />
                <input type="hidden" name="position" value="{{ project.position }}" />
                <button class="bg-gray-300 text-gray-600 px-1 py-1 rounded hover:bg-gray-400" style="line-height: 0;">
                    <i class="fa fa-arrow-up" style="font-size: 0.5rem;"></i>
                </button>
            </form>
            <form action="/down" method="POST">
                <input type="hidden" name="id" value="{{ project.id }}" />
                <input type="hidden" name="category" value="{{ project.category }}" />
                <input type="hidden" name="position" value="{{ project.position }}" />
                <button class="bg-gray-300 text-gray-600 px-1 py-1 rounded hover:bg-gray-400" style="line-height: 0;">
                    <i class="fa fa-arrow-down" style="font-size: 0.5rem;"></i>
                </button>
            </form>
        </div>

        <!-- delete button -->
        <form action="/delete" method="POST" class="flex item-center">
            <input type="hidden" name="id" value="{{ project.id }}" />
            <input type="hidden" name="category" value="{{ project.category }}" />
            <input type="hidden" name="position" value="{{ project.position }}" />
            <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-700">
                <i class="fa fa-trash-alt"></i>
            </button>
        </form>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<form action="/add" method="POST" class="mt-4 flex items-center">
    <input type="text" id="name" name="name" class="ml-2 border border-gray-300 rounded-md px-2 py-1 flex-1" />
    <input type="hidden" id="category" name="category" value="{{ category_name }}" />
    <input type="submit" value="Add"
        class="ml-2 px-2 py-1 bg-gray-500 text-white font-semibold rounded-md border border-gray-500 hover:bg-gray-600 hover:border-gray-600" />
</form>
