<ul id="project-list-{{ category_name }}">
    {% for project in projects %}
    {% if project.category == category_name %}
    {% if project.status != 2 %}
    <!-- start list item -->
    <li class="relative flex justify-between items-center border-b py-2">
        <!-- project name -->
        <span
            class="flex-1 overflow-hidden overflow-ellipsis whitespace-nowrap {% if project.status ==1 %}font-semibold{% endif %}">{{
            project.name }}</span>
        <!-- start button -->
        {% if project.status == 0 %}
        <form hx-post="/start" hx-target="#project-list-{{ category_name }}" hx-sawp="innerHTML">
            <input type="hidden" name="id" value="{{ project.id }}" />
            <input type="hidden" name="category" value="{{ project.category }}" />
            <input type="hidden" name="position" value="{{ project.position }}" />
            <button type="submit" class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-700">
                <i class="fa fa-play"></i>
            </button>
        </form>
        {% endif %}
        <!-- edit button -->
        <a href="/project/{{ project.id }}"
            class="bg-blue-500 text-white px-2 py-1 mr-1 ml-1 rounded hover:bg-blue-700">
            <i class="fa fa-edit"></i>
        </a>
        {% if project.status == 0 %}
        <!-- start up/down button container -->
        <div class="flex flex-col mr-1 ml-1 items-center">
            <form hx-post="/up" hx-target="#project-list-{{ category_name }}" hx-swap="innerHTML">
                <input type="hidden" name="id" value="{{ project.id }}" />
                <input type="hidden" name="category" value="{{ project.category }}" />
                <input type="hidden" name="position" value="{{ project.position }}" />
                <button class="bg-gray-300 text-gray-600 px-1 py-1 rounded hover:bg-gray-400" style="line-height: 0;">
                    <i class="fa fa-arrow-up" style="font-size: 0.5rem;"></i>
                </button>
            </form>
            <form hx-post="/down" hx-target="#project-list-{{ category_name }}" hx-swap="innerHTML">
                <input type="hidden" name="id" value="{{ project.id }}" />
                <input type="hidden" name="category" value="{{ project.category }}" />
                <input type="hidden" name="position" value="{{ project.position }}" />
                <button class="bg-gray-300 text-gray-600 px-1 py-1 rounded hover:bg-gray-400" style="line-height: 0;">
                    <i class="fa fa-arrow-down" style="font-size: 0.5rem;"></i>
                </button>
            </form>
        </div>
        {% endif %}

    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
