<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tracker</title>
</head>

<body class="m-4">
    <h1 class="text-3xl font-bold mb-4">{{ project.name }}</h1>
    <a href="/" class="bg-gray-500 text-white px-2 py-1 rounded hover:bg-gray-700 mb-4">
        Back
    </a>

    <!-- Creation, Start and Complete dates -->
    <div class="flex flex-col mb-4 mt-4">

        <span>Created: {{ project.creation_date }}</span>

        {% if project.status > 0 %}
        <span>Started: {{ project.start_date }}</span>
        {% endif %}

        {% if project.status > 1 %}
        <span>Completed: {{ project.completion_date }}</span>
        {% endif %}

    </div>

    <!-- Text area for editing project notes -->
    <form action="/update_notes" method="POST">
        <input type="hidden" name="id" value="{{ project.id }}" />
        <label for="notes" class="block">Project Notes:</label>
        <textarea id="notes" name="notes" rows="10" cols="50"
            class="w-full border border-gray-300 rounded-md p-2 mb-2">{{
            project.notes }}</textarea>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 mt-2">Update</button>
    </form>

    {% if project.status == 1 %}
    <!-- complete project button -->
    <form action="/complete" method="POST" class="flex item-center mt-4">
        <input type="hidden" name="id" value="{{ project.id }}" />
        <button type="submit" class="bg-green-500 text-white px-2 py-1 rounded hover:bg-green-700">
            <i class="fa fa-check"></i>
        </button>
    </form>
    {% endif %}

    <!-- delete button -->
    <form action="/delete" method="POST" class="flex item-center mt-4">
        <input type="hidden" name="id" value="{{ project.id }}" />
        <input type="hidden" name="category" value="{{ project.category }}" />
        <input type="hidden" name="position" value="{{ project.position }}" />
        <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-700">
            <i class="fa fa-trash-alt"></i>
        </button>
    </form>
</body>

</html>
